h2, p {
  text-align: center;
  font-family: 'Courier New', monospace;
}

.basic, input, label {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.basic-wrapper {
  padding-top: 15px;
}

.entry-card {
  padding-top: 15px;
}