@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

div :not(.not-sliding) {
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.not-sliding {
  background-color: #808080;
}

h2, p {
  text-align: center;
  font-family: 'Courier New', monospace;
}

.L {
  text-align: left;
  font-family: 'Courier New', monospace;
}

.basic, input, label {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.basic-wrapper {
  padding-top: 15px;
}

.entry-card {
  padding-top: 15px;
}

.horizontals {
  display: flex;
  justify-content: center;
}

input[type=radio] {
  display: inline-block;
}

.rlabel {
  display: inline-block;
  text-align: left;
}

.input-container {
  display: block;
  padding: auto;
  margin: auto;
}